<div class="center">
	<h2><%=t "about.header" %></h2>
	<%= image_tag "#{I18n.locale}/start_thumb.png", :width => "95%" %>
</div>
<%= t "about.intro_html" %>

<h2><%=t "side.features.title" %></h2>
<ul>
	<%=t "side.features.list_html" %>
</ul>

<h2><%=t "about.team.title" %></h2>
<ul>
	<li>Maggie Man</li>
	<li>Hylton Clarke</li>
	<li>Tianwen Zhang</li>
	<li>Tom Sokolinski</li>
	<li>Fredrik Gadnell</li>
	<li>Carl Carenvall</li>
	<li>Mark Tibblin</li>
	<li>Francesco Roberto</li>
	<li>Ryan Zeigler</li>
	<li>Fred Weinestad</li>
	<li>Balog Tamás</li>
</ul>
