<div id="main">
	<div class="white box">
		<h1><%= t "money.title" %></h1>
		<p><%=t "money.intro"%></p>
		<h2><%=t "money.labels.title" %></h2>
		<p><%=t "money.labels.text1" %><p>
		<div class="center">
			<%= link_to image_tag("#{I18n.locale}/illustrations/money_distribution.png"),
				"http://www.theroot.com/views/how-much-do-you-musicians-really-make"
			%>
		</div>
		<p><%=t "money.labels.text2" %><p>
		<h2><%=t "money.process.title" %></h2>
		<p><%=t "money.process.text1" %><p>
		<p><%=t "money.process.text2" %><p>
		<h2><%=t "money.charity.title" %></h2>
		<p><%=t "money.charity.text" %><p>
	</div>
</div>

<div id="sidebar">
	<%= render :partial => "sidebars/main" %>
</div>
