<%
a = !@artist.to_s.empty?
aid = a ? @artist.id : 0
anm = a ? @artist.name : t("donations.artist")
cnc = a ? artist_url(@artist) : donate_url
ret = a ? artist_url(@artist) : money_url
%>

<script>
var values = [80.0, 10.0, 10.0];
var donate_artist_id = <%=aid%>;
var user_id = <%= user_signed_in? ? current_user.id : -1 %>;

$(document).ready(function()
{
	$("#return_policy").qtip({
		content: "<%=t "donations.return.tip_html" %>",
		show: "mouseover",
		hide: "mouseout",
		style:
		{
			tip: true
		}
	});
	
	if ($("#item_name").length > 0)
	{
		$("#item_name").autocomplete(
		{
			minLength: 2,
			source: "/search.json?category=artists",
			appendTo: "#artist-menu",
			select: function(event, ui)
			{
				$("#item_name").val(decode(ui.item.display));
				return false;
			},
			focus: function(event, ui)
			{
				$("#item_name").val(decode(ui.item.display));
				return false;
			}
		})
		.data("ui-autocomplete")._renderItem = function(ul, item)
		{
			return $("<li></li>")
				.data("ui-autocomplete-item", item)
				.append("<a><h1>" + item.display + "</h1></a>")
				.appendTo(ul);
		};
	}
	
	$(function()
	{
		$("#0_slider").slider({ min: 0, max: 100, value: values[0], stop: refresh0, slide: refresh0 });
		$("#1_slider").slider({ min: 0, max: 100, value: values[1], stop: refresh1, slide: refresh1 });
		$("#2_slider").slider({ min: 0, max: 100, value: values[2], stop: refresh2, slide: refresh2 });
		refreshLabels();
	});
});
</script>
<h1><%=d(@artist.to_s.empty? ? t("donations.title") : t("donations.title_with_artist", :artist => @artist.name)) %></h1>

<% if too_many_donations? && (@artist.to_s.empty? || @artist.pending == 0) %>
	<%= t "donations.full_text_html" %>

<% else %>
	<%= form_for Donation.new, :html => { :onsubmit => "return verifyDonation();" } do |f| %>
		<%= hidden_field_tag "create", "1" %>
		<%= hidden_field_tag "item_number", aid %>
		<%= hidden_field_tag "custom", "", :id => "pp_param" %>
		<%= hidden_field_tag "ret", ret %>
		<%= hidden_field_tag "cnc", cnc %>

		<div class="message">
			<% if @artist.to_s.empty? %>
				<%= t "donations.front_text_html" %>
			<% else %>
				<%= t "donations.long_text_html", :receiver => d(@artist.name) %>
			<% end %>
		</div>
		
		<% e = flash[:error].to_s != "" %>
		<div class="notice" id="notice"<%=" style='display:none';".html_safe unless e %>>
			<%= flash[:error] if e %>
		</div>
		
		<% if @artist.to_s.empty? %>
			<div>
				<%= label_tag "item_name", t("donations.artist") %>
				<%= text_field_tag "item_name", "" %>
			</div>
			
			<div id="artist-menu">&nbsp;</div>
			
		<% else %>
			<%= hidden_field_tag "item_name", d(@artist.name) %>
			
		<% end %>
			
		<div>
			<%=label_tag "amount", t("donations.amount.label") %>
			<%= text_field_tag "amount", "20" %>
			<%= select_tag "currency_code", options_for_select(["USD"]) %>
			<div class="note"><%=t "donations.amount.note", :minimum => 0.99 %></div>
		</div>
		
		<div>
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"/>
		</div>
		
		<div>
			<%= label_tag "return", t("donations.return.label") %>
			<%= select_tag "return", options_for_select([
				[t("donations.return.me"), "2"],
				[t("donations.return.charity"), "1"],
				[t("donations.return.stoffi"), "0"]]),
				:onchange => "refreshLabels();"
			%>
			<div class="note">
				<%= t "donations.return.note" %>
				<%= image_tag "gfx/tooltip.png", :id => "return_policy" %>
			</div>
		</div>
		
		<div style="display:none;">
			<div class="interactive" onclick="javascript:toggleDistribution();">
				<%=t "donations.distribution.title" %>
				<span id="dist_indicator">▸</span>
			</div>
			
			<div id="sliders" style="display: none;">
				<div class="distribution_slider">
					<div class="distribution_label">
						<%=anm%>: <span id="0_label">0</span>%
					</div>
					<div id="0_slider"></div>
				</div>
				
				<div class="distribution_slider">
					<div class="distribution_label">
						<%=t "donations.distribution.charity" %>: <span id="2_label">0</span>%
					</div>
					<div id="2_slider"></div>
				</div>
				
				<div class="distribution_slider">
					<div class="distribution_label">
						<%=t "donations.distribution.stoffi" %>: <span id="1_label">0</span>%
					</div>
					<div id="1_slider"></div>
				</div>
			</div>
		</div>

		<div class="bottom">
			<div class="right">
				<%= image_tag "gfx/cards.png", :class => "cards" %>
				<%=button_tag t("donations.send"), nil, "dollar", { :type => :form, :color => :gold } %>
				<%=button_tag t("donations.learn"), money_path, "info", { :color => :blue } %>
			</div>
		</div>
		
	<% end %>
<% end %>