<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<% if any_errors? %>
		<div class="error">
			<%= flash[:alert] %>
		</div>
	<% end %>

	<%= f.email_field :email, :class => "field", :placeholder => t("dialog.email_placeholder"),
		:size => 25 %>

	<%= f.password_field :plain, :class => "field", :placeholder => t("dialog.password_placeholder"),
		:size => 25 %>
	<%= f.hidden_field :password %>
	
	<% if devise_mapping.rememberable? -%>
		<div>
			<%= f.check_box :remember_me %>
			<%= f.label :remember_me, t("dialog.remember") %>
		</div>
	<% end -%>
	
	<%=button_tag t("login.link"), "hashPasswords();", "login", { :type => :form, :color => :gold } %>
	
	<div class="oauth">
		<label><%= t "dialog.oauth" %></label>
		<div class="buttons">
			<%
			[
				{ :name => "Twitter" },
				{ :name => "Facebook" },
				{ :name => "Google", :link_name => "google_oauth2" },
				{ :name => "Vimeo" },
				{ :name => "LinkedIn", :link_name => "linked_in" },
				{ :name => "SoundCloud" }
			].each do |link|
				n = link[:name]
				ln = link[:link_name] || n.downcase
				path = "/auth/#{ln}"
				css = "auth"
				disp = image_tag("auth_buttons/#{n.downcase}_black_16.png")
				title = t("auth.login", :service => n)
				%>
				<%= link_to disp, path, :class => css, :title => title %>
			<% end %>
		</div>
	</div>
	
	<%= render :partial => "devise/shared/links" %>
<% end %>