<div class="ingraved dialog box">
	<h1><%= t "login.title" %></h1>

	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	
		<% [:alert, :notice].each do |t| %>
			<%=raw "<div class='#{t}'>#{h(flash[t])}</div>" unless flash[t].to_s.empty? %>
		<% end %>
	
		<div>
			<%= f.label :email, t("dialog.email") %>
			<%= f.email_field :email, :placeholder => t("dialog.email_placeholder"),
				:class => "field", :autofocus => true %>
		</div>

		<div>
			<%= f.label :password, t("dialog.password") %>
			<%= f.password_field :plain, :placeholder => t("dialog.password_placeholder"),
				:class => "field", :onkeydown => "return submitIfEnter(this,event,function(){hashPasswords();});" %>
			<%= f.hidden_field :password %>
		</div>

		<% if devise_mapping.rememberable? -%>
			<div>
				<%= f.label :remember_me, t("dialog.remember") %>
				<%= f.check_box :remember_me %>
			</div>
		<% end -%>
		
		<div>
			<label><%= t "dialog.oauth" %></label>
			<%
			[
				{ :name => "Twitter" },
				{ :name => "Facebook" },
				{ :name => "Google", :link_name => "google_oauth2" },
				{ :name => "Vimeo" },
				{ :name => "LinkedIn", :link_name => "linked_in" },
				{ :name => "SoundCloud" }
			].each do |link|
				n = link[:name]
				ln = link[:link_name] || n.downcase
				path = "/auth/#{ln}"
				css = "auth"
				disp = image_tag("auth_buttons/#{n.downcase}_16.png")
				title = t("auth.login", :service => n)
				%>
				<%= link_to disp, path, :class => css, :title => title %>
			<% end %>
		</div>

		<div class="bottom">
			<div class="throw-left">
				<%= render :partial => "devise/shared/links" %>
			</div>
			<div class="throw-right">
				<%=button_tag t("login.link"), "hashPasswords();", "login", { :type => :form, :color => :gold } %>
			</div>
			<div class="clear"></div>
		</div>
	<% end %>
</div>