<h1><%=t "contribute.hack.header" %></h1>
<%=t "contribute.hack.intro_html" %>

<h2><%=t "contribute.hack.client.header" %></h2>
<%=t "contribute.hack.client.checkout_html" %>
<p>&nbsp;</p>
<div class="center">
	<%= link_to t("contribute.hack.client.checkout_link"), "http://dev.stoffiplayer.com/source/checkout", :class => "button down center" %>
</div>
<p>&nbsp;</p>

<%=t "contribute.hack.client.convention_html" %>
<p>&nbsp;</p>
<div class="center">
	<%= link_to t("contribute.hack.client.convention_link"), "http://dev.stoffiplayer.com/wiki/CodingConvention", :class => "button down center" %>
</div>
<p>&nbsp;</p>

<%=t "contribute.hack.client.suggestions_html" %>
<p>&nbsp;</p>
<div class="center">
	<%= link_to t("contribute.hack.client.suggestions_link"), "http://dev.stoffiplayer.com/wiki/WorkToBeDone", :class => "button down center" %>
</div>
<p>&nbsp;</p>

<%=t "contribute.hack.client.overview_html" %>
<p>&nbsp;</p>
<div class="center">
	<%= link_to t("contribute.hack.client.overview_link"), "http://dev.stoffiplayer.com/wiki/SystemOverview", :class => "button down center" %>
</div>
<p>&nbsp;</p>

<h2><%=t "contribute.hack.server.header" %></h2>
<p>&nbsp;</p>
<%=t "contribute.hack.server.account_html" %>
<div class="center">
	<%= link_to t("contact.link"), contact_path, :class => "button down center" %>
</div>
<p>&nbsp;</p>

<%=t "contribute.hack.server.technologies_html" %>

<p>&nbsp;</p>
<%= link_to t("links.back"), contribute_path, :class => "button down" %>