<p><%= t("hello", :name => @resource.name) %></p>
<p><%=t "mail.password.request" %></p>
<p><%= link_to t("mail.password.link"), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token, :l => I18n.locale) %></p>
<p><%=t "mail.ignore" %></p>
<p><%=t "mail.password.require_action" %></p>